.header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 1440px;
	height: 72px;
}
.logo {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 5px;
	margin-left: 56px;
}
.logo__img {
	height: 56px;
}

.logo__text {
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	font-size: 25px;
	line-height: 144%;
	letter-spacing: -0.01em;
	color: #000;
}
.navcontainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-right: 56px;
	height: 72px;
}
.navbar__menu {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.navbar__list {
	margin: 13px 24px;
	font-family: "Hind", sans-serif;
	font-weight: 400;
	font-size: 18px;
	color: black;
}
